/* Aquí puedes personalizar los estilos a tu gusto */
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,500;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfaair Display' ;

}
html{
    scroll-behavior: smooth;
}

#inicio{
    background-color: lightgreen;
    display:flex;
    width: 100vw;
    height: 15vh;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

body{
    background-image: url(./imagenes/rio\ y\ pjaros\ \(2\).jpg);
    display: flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

.icono-menu{

}
